@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.nav{
    width: 100%;
    height: 75px;
    display: block;
    background-color:white;
}
ul{
    margin-left: 60%;
}
ul li{
 list-style: none;
 display: inline-block;
 line-height: 75px;
}
ul li a{
    text-decoration: none;
    padding: 0 15px;
    font-weight: 600;
    color:#222222;  
}
.hader-text{
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
}
.hader-textcolor{
    color: tomato;

}

button{
    background-image: linear-gradient(#F56160, tomato);
    padding:15px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
}
button:hover{
    background-color: coral;
    color: black;
}
.fa{
    padding-right: 12px;
}
.box-1{
    width: 40%;
    float: left;
    padding-left: 6%;
    margin: 2%;
}
img{
    width: 85%;
}
p{
    font-weight: 410;
    line-height: 1.5em;
}
